.memberlist{
    overflow: auto;
    }
    .service-preview{
        width: 70%;
        height: auto;
    }
    .box{
        height: 70px;
        border: 1px solid white;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 20px;  
        display: flex; 
        align-items: center;
        justify-content: space-between;
        width: 100%; 
    }
    .para{
        margin-left: 30px;
    }
    .para h3{
        margin-top: 5px;
    }
    .box p{
        margin-top: -10px;
    }
    .button1{
        width: 30px;
        height: 30px;
        margin-left: -143px;
        margin-bottom: 3px;
        background-color: rgb(0, 0, 0);
        border: .2px solid rgb(255, 255, 255);
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        font-weight: 1000;
        color: red;
        padding: 2px 4px;
    }
    